/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

#head {
  color: white;
  background-color: black;
  text-shadow: 4px 4px 6px  #f31273;
  font-family: 'Fjalla One', sans-serif;
  font-size: 125px;
  text-align: center;
  padding: 30px;
}

/* STYLE TEXT */

/* STYLE IMAGES */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 50px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #f31273;
  color: white;
  box-shadow: 4px 4px 6px black;
  transform: rotateY(180deg);
}

.flip-card-two {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 50px;
}

.flip-card-inner-two {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-two:hover .flip-card-inner-two {
  transform: rotateY(180deg);
}

.flip-card-front-two, .flip-card-back-two {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back-two {
  background-color: #f31273;
  color: white;
  box-shadow: 4px 4px 6px black;
  transform: rotateY(180deg);
}

.flip-card-three {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 50px;
}

.flip-card-inner-three {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-three:hover .flip-card-inner-three {
  transform: rotateY(180deg);
}

.flip-card-front-three, .flip-card-back-three {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back-three {
  background-color: #f31273;
  color: white;
  box-shadow: 4px 4px 6px black;
  transform: rotateY(180deg);
}

.flip-card-four {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 50px;
}

.flip-card-inner-four {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-four:hover .flip-card-inner-four {
  transform: rotateY(180deg);
}

.flip-card-front-four, .flip-card-back-four {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back-four {
  background-color: #f31273;
  color: white;
  box-shadow: 4px 4px 6px black;
  transform: rotateY(180deg);
}

.flip-card-five {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 50px;
}

.flip-card-inner-five {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-five:hover .flip-card-inner-five {
  transform: rotateY(180deg);
}

.flip-card-front-five, .flip-card-back-five {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back-five {
  background-color: #f31273;
  color: white;
  box-shadow: 4px 4px 6px black;
  transform: rotateY(180deg);
}

.flip-card-six {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  margin: 50px;
}

.flip-card-inner-six {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-six:hover .flip-card-inner-six {
  transform: rotateY(180deg);
}

.flip-card-front-six, .flip-card-back-six {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back-six {
  background-color: #f31273;
  color: white;
  box-shadow: 4px 4px 6px black;
  transform: rotateY(180deg);
}

.hotlineImage {
  width: 250px;
  height: 250px;
  box-shadow: 4px 4px 6px #f31273;
}

/* STYLE NAV BAR */
.overlay {  
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(243,18,115);
  background-color: rgba(243,18,115, 0.9); /* Black w/opacity */
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.openbtn {
  color: #f31273;
  position: fixed;
}

/* STYLE BUTTONS */

/* ADD MORE! */
.hotline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  font-size: 20px;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  top: 100px;
}

  #samhsa {
    position: relative;
    top: 85px;
  }

  .repositon {
    position: relative;
    top: 130px;
  }

@media screen and (max-width: 600px) {
  #head {
    font-size: 75px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 300px) {
  #head {
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }

  .hotlineImage {
    width: 175px;
    height: 175px;
    align: center;
  }
}