/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color: black;
}

/* STYLE TEXT */

/* STYLE IMAGES */

/* STYLE NAV BAR */
.overlay {  
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(243,18,115);
  background-color: rgba(243,18,115, 0.9); /* Black w/opacity */
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.openbtn {
  color: white;
  position: fixed;
  top: 0px;
}

/* STYLE BUTTONS */

/* ADD MORE! */
.links {
  background-color: #f31273;
  margin: 100px;
  box-shadow: 4px 4px 6px white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: -30px;
}

.linkItem {
  color: white;
  font-size: 20px;
  font-family: 'Fjalla One', sans-serif;
  padding: 15px;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  .links {
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: absolute;
    top: 15%;
  }

  .linkItem {
    padding: 10px;
    margin: 5px;
    font-size: 13px;
  }
}
